h1 {
  color: blue;
  text-align: center;
  padding-bottom: 20px;
  padding-top:20px;
  /* background-color: #fdd9d9; */
  font-size: 36px;
  background-image: url("images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
display: inline;
}
.nav {
  color:blue;
  background-color: #fdd9d9;
  font-size: 12px;
  float: right;
  width: 100%;
  font-weight: bold;
  /* position: fixed; */
}

.nav li {
  display: inline;
  font-size: 20px;
  padding: 20px;
  /* color: red; */
  float: right;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
img{
    width: min-content;
    height:min-content;
    float: left;
}
p{
    font-size: 18px;
}
.footer{
    background-position: center;
    background-color: rgb(233, 227, 227);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    text-align: center;
    color:blue;
    
}