h1{
    font-style: italic;
    padding: 20px;
    padding-left: 50px;
    background-image: url("images/autospares2.jpeg");
    background-size: contain;
    background-repeat: repeat-x;
    color: red;
}
p{
    color: black;
    font-size: 20px;
}
h2{
    text-size-adjust: 20px;
    padding-left: 50px;
    text-decoration: underline;
    color: black;
    font-style: italic;
}
#services{
font-family: Noto Serif;
font-style: italic;
font-weight: bold;
font-size: 17px;
line-height: 25px;
color: #380606;

}
#body{
font-family: Noto Serif;
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 25px;
align-items: center;

color: #380606;



}
#form{
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
    padding-top: 30px;
  }
  
  #column {
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 20px;
  }
  
  #break {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 20px;
  }
  
  #ans {
    -ms-flex: 75%; 
    flex: 75%;
    padding: 0 20px;
  }
  .container {
    background-color: #918d8d;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon {
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 26px;
  }
  
  .deliv {
    background-color: #4CAF50;
    color: rgb(233, 219, 219);
    padding: 15px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .deliv:hover {
    background-color: #45a049;
  }
  
  .price {
    float: right;
    color: rgb(110, 6, 6);
  }
  
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    #column {
      margin-bottom: 20px;
    }
  }