h1{
/* spares13 1 */

position: absolute;
width: 764px;
height: 276px;

background: url(images/spares13.jpg);
background-size: cover;
background-repeat: no-repeat;
mix-blend-mode: multiply;
border-radius: 7px;
/* CHANGAMKA AUTOSPARES LTD */

position: absolute;
width: 743px;
height: 65px;

font-family: Noto Serif;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;

color: #EE1D1D;
}
h2{
    /* Rectangle 1 */

position: absolute;
width: 670px;
height: 226px;
left: 77.94px;
top: 0.59px;

background: url(images/spares3.jpeg);
background-size: contain;
opacity: 0.7;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 52px;
transform: rotate(0.5deg);
/* Products & Services */

position: absolute;
width: 595px;
height: 175px;
left: 15.56px;
top: 44.05px;

font-family: Noto Serif;
font-style: italic;
font-weight: 300;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
text-align: center;

color: #063016;

mix-blend-mode: darken;
transform: rotate(0.5deg);

}

#body{
position: absolute;
width: 1000px;
height:1000px;
left: 52.46px;
top: 0px;

font-family: Noto Serif;
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 50px;
display: flex;
align-items: center;

color: #380606;

mix-blend-mode: darken;
transform: rotate(0.05deg);
/* Rectangle 2 */

position: absolute;
width: 1000px;
height: 1300px;
left: 9.52px;

background: #C4C4C4;
transform: rotate(0.5deg);

}
#list1{
    text-align: left;
    padding: 70px;
}
#list2{
    text-align: center;
}
#services{
    /* Rectangle 3 */
padding: 50px;
padding-top: 100px;
position: absolute;
width: 728px;
height: 389px;
left: 46.47px;
top: 626.34px;

background: url(images/spares2.jpeg);
background-repeat: no-repeat;
background-size: contain;
transform: rotate(0.5deg);

position: absolute;
width: 500px;
height: 500px;
left: 57.43px;
top: 730.44px;

font-family: Noto Serif;
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 25px;
align-items: center;

color: #380606;

transform: rotate(0.5deg);

}
